<div class="main__wrapper">
  <div class="main__wrapper__card">
    <mat-card class="main__wrapper__card-apperance">
      <mat-card-title> Type a message and your code</mat-card-title>
      <mat-card-content>
        <form>
          <mat-form-field>
            <input type="text"
             matInput
             placeholder="Code"
             [formControl]= "code">
          </mat-form-field>
        <mat-form-field>
            <input 
            type="text" 
            matInput
            placeholder="Message"
            [formControl]= "msg">
          </mat-form-field>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>